body
    font-family: 'Poppins', sans-serif
header
    background-color:#120000
    color: #fff
.menu
    padding: 2% 0 2% 0
    &-text
        text-align: center
.menu-text a 
    text-decoration: none
    color: #fff
.menu-text a:hover
    color: #c6c4c4
    border-bottom: 1px solid  #c6c4c4
.menu-btn a 
    text-decoration: none
    color: #000000
    border: 1px solid #fff
    background-color: #fff
    transition: 250ms all
    padding: 9px 20px 13px 20px
    border-radius: 15px
.menu-btn a:hover
    border: 1px solid #aeadad
    background-color: #aeadad
    transition: 250ms all
.header-logo img
    padding: 0 0 0 20%
main
    background-color: #000000
.first-bg
    background-image: url('../img/FirsB.png')
    background-size: cover
    background-position: center
    height: 100vh
    display: flex
    justify-content: center
    color: white
    text-align: center
.first-bg div h1
    color: white
    font-size: 54px
    text-align: center
.first-bg div p
    color: rgb(192, 192, 192)
    font-size: 14px 
    font-weight: 400
    text-align: center
.first-bg 
    .frist-bg-text
        margin: 29% 0 0 30%
    .Pho-text
        color: rgb(192, 192, 192)
        font-size: 14px
        font-weight: 400
.icon
    display: flex
    margin: 45% 0 0 8%   
    width: 20% 
.icon div
    padding: 5px
.Areas
    margin: 8% 0 0 0
.Areas-text
    text-align: center
    color: #fff
.Areas-text h2
    font-size: 40px
    font-weight: 400
    line-height: 42px
.Areas-text p
    color: rgb(192, 192, 192)
    font-size: 23px
    font-weight: 400
    margin: 0 0 5% 0 
.first-card
    position: relative
    display: inline-block
    .text-overlay
        position: absolute
        top: 75%
        left: 53%
        transform: translate(-50%, -50%)
        padding: 20px
        font-size: 10px
        color: white
    .text-overlay h2
        font-size: 14px
        font-weight: 400
    .text-overlay p
        font-size: 14px
        font-weight: 400
        color: rgb(192, 192, 192)
        width: 150%
.first-card img
    padding: 0 0 0 30%
.first-card-btn a
    text-decoration: none
    color: #000
    border: 1px solid #fff
    padding: 10px 20px
    border-radius: 15px
    background-color: #fff
    font-size: 15px
    font-weight: 500
.first-card-btn
    margin: 10% 0 0 0

.second-card
    .text-overlay2
        position: absolute
        top: 210%
        left: 67%
        transform: translate(-50%, -50%)
        padding: 20px
        font-size: 10px
        color: white
    .text-overlay2 h2
        font-size: 14px
        font-weight: 400
    .text-overlay2 p
        font-size: 14px
        font-weight: 400
        color: rgb(192, 192, 192)
        width: 150%
.second-card-btn a
    text-decoration: none
    color: #000
    border: 1px solid #fff
    padding: 10px 20px
    border-radius: 15px
    background-color: #fff
    font-size: 15px
    font-weight: 500
.second-card-btn
    margin: 10% 0 0 0
.Areas-first-card
    margin: 0 0 2% 0
.third-card img
    padding: 0 0 0 30%
.third-card
    .text-overlay
        position: absolute
        top: 292%
        left: 31%
        transform: translate(-50%, -50%)
        padding: 20px
        font-size: 10px
        color: white
    .text-overlay h2
        font-size: 14px
        font-weight: 400
    .text-overlay p
        font-size: 14px
        font-weight: 400
        color: rgb(192, 192, 192)
        width: 150%
.third-card-btn a
    text-decoration: none
    color: #000
    border: 1px solid #fff
    padding: 10px 20px
    border-radius: 15px
    background-color: #fff
    font-size: 15px
    font-weight: 500
.third-card-btn
    margin: 8% 0 0 0
.fourth-card
    .text-overlay
        position: absolute
        top: 292%
        left: 66%
        transform: translate(-50%, -50%)
        padding: 20px
        font-size: 10px
        color: white
    .text-overlay h2
        font-size: 14px
        font-weight: 400
    .text-overlay p
        font-size: 14px
        font-weight: 400
        color: rgb(192, 192, 192)
        width: 150%
.fourth-card-btn a
    text-decoration: none
    color: #000
    border: 1px solid #fff
    padding: 10px 20px
    border-radius: 15px
    background-color: #fff
    font-size: 15px
    font-weight: 500
.fourth-card-btn
    margin: 8% 0 0 0
.card-text
    color: rgb(192, 192, 192)
.fourth-card-btn a:hover
    background-color: #a7a7a7
    border: 1px solid #a7a7a7
    transition: 250ms all
.first-card-btn a:hover
    background-color: #a7a7a7
    border: 1px solid #a7a7a7
    transition: 250ms all
.second-card-btn a:hover
    background-color: #a7a7a7
    border: 1px solid #a7a7a7
    transition: 250ms all
.third-card-btn a:hover
    background-color: #a7a7a7
    border: 1px solid #a7a7a7
    transition: 250ms all